.main-container {
  display: flex;
  flex-direction: row;
  /* background-color: pink; */
  height: 90vh;
  width: 800px;
}

#tabList-container {
  margin-right: 20px;
  padding-left: 0 !important;
  width: 25%;
  overflow: auto;
  height: 100%;
}

.clear-all-btn {
  font-size: medium;
  margin-bottom: 5px;
  cursor: pointer;
  position: relative;
  align-items: flex-end;
  width: fit-content;
}

.clear-all-btn:hover {
  background-color: red;
}

#show-tabs-opened { 
  margin-left: auto;
}

#tab-title {
  font-size: large;
  font-weight: bolder;
}

.image-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  object-position: top left;
}

.image-container img:hover {
  transform: scale(1.6);
}

.tab-subcontainer {
  background-color: lightgrey;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  list-style: none;
  padding: 5px 10px;
  margin: 10px 5px;
  overflow: hidden;
  cursor: pointer;
  word-wrap: break-word;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
}

.favicon-container {
  width: 30px;
  height: 30px;
  margin: auto 10px auto 0;
}

.favicon-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  overflow: hidden;
}

.tab-info {
  width: 70%;
}

.tab-subcontainer:hover {
  font-weight: bold;
  font-size: 14px;
}
